aiohttp==3.7.4.post0
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==21.2.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
colorama==0.4.5
coverage==5.5
cryptography==35.0.0
et-xmlfile==1.1.0
hvac==0.11.2
idna==3.3
idna-ssl==1.1.0
importlib-metadata==4.8.1
iniconfig==1.1.1
jdcal==1.4.1
jeepney==0.4.2
jsonschema==4.0.0
keyring==21.1.0
multidict==5.1.0
numpy
openpyxl==3.0.7
packaging==21.0
pandas==1.3.5
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pycryptodome==3.11.0
mysql-connector==2.2.9
pyodbc==4.0.28
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.4
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.26.0
SecretStorage==3.1.2
six==1.16.0
sqlanydb==1.0.11
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
xlrd==1.2.0
xlwt==1.3.0
xmltodict==0.12.0
yarl==1.6.3
zipp==3.6.0
toolz==0.11.2
ipykernel==6.15.1
altair==4.1.0
pexpect==4.8.0
terminado==0.15.0
psutil==5.9.0
pytz-deprecation-shim==0.1.0.post0
ipython
termcolor==1.1.0
argon2-cffi==21.3.0
mistune==2.0.4
backports.zoneinfo==0.2.1
nbformat==5.4.0
pyzmq==23.0.0
pandocfilters==1.5.0
defusedxml==0.7.1
debugpy==1.6.0
fastjsonschema==2.16.1
jupyterlab-pygments==0.2.2
nest-asyncio==1.5.5
wcwidth==0.2.5
jedi==0.17.2
tornado==6.2
Pygments==2.13.0
nbclient==0.6.7
ruamel.yaml.clib==0.2.6
tqdm==4.64.0
ptyprocess==0.7.0
tzdata==2022.1
tzlocal==4.2
ipython-genutils==0.2.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
prompt-toolkit==3.0.31
ruamel.yaml==0.17.17
lxml==4.8.0
jupyter-client==7.3.4
scipy
backcall==0.2.0
jupyter-core==4.11.1
parso==0.7.1
traitlets
tinycss2==1.1.1
click==8.1.3
argon2-cffi-bindings==21.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
entrypoints==0.4
jsonpatch==1.32
webencodings==0.5.1
pickleshare==0.7.5
Send2Trash==1.8.0
decorator==5.1.1
nbconvert==7.0.0
soupsieve==2.3.2.post1
notebook==6.4.12
jsonpointer==2.3
prometheus-client==0.14.1
Jinja2==3.0.3
great-expectations==0.15.2
grpcio-tools==1.34.0
protobuf==3.20.1
grpcio==1.47.0
protoc-gen-swagger==0.1.0
iterators==0.0.2
googleapis-common-protos==1.56.4
setuptools==68.0.0
holidays~=0.27.1
